<header class="header-bar">
  <div class="title">
    <div class="title-name">web_v5</div>
  </div>
  <div class="sign-up-btn">
    <div class="sign-up-word">新規登録</div>
  </div>
  <div class="login-btn">
    <div class="login-word"> ログイン</div>
  </div>
</header>
<%# サインアップモーダル %>
<div class="signup-modal-wrapper" id="signup-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times">X</i>
    </div>
    <div id="signup-form">
      <h2>Emailで新規登録</h2>
      <form action="#">
        <input class="form-control" type="text" placeholder="メールアドレス">
        <input class="form-control" type="password" placeholder="パスワード">
        <div id="submit-btn">新規登録</div>
      </form>
    </div>
  </div>
</div>
<%# ログインモーダル %>
<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times">X</i>
    </div>
    <div id="login-form">
      <h2>Emailログイン</h2>
      <form action="#">
        <input class="form-control" type="text" placeholder="メールアドレス">
        <input class="form-control" type="password" placeholder="パスワード">
        <div id="submit-btn">ログイン</div>
      </form>
    </div>
  </div>
</div>
<%# メイン %>
<div class="main">
  <div class="side-bar">
    <ul class="contents">
      <li class="content" id="content1">Thema</li>
      <li class="content" id="content2">Prodact</li>
      <li class="content" id="content3">About</li>
      <li class="content" id="content4">Contact</li>
    </ul>
  </div>
  <div class="main-wrapper">
    <div class="container">
      <div class="mi" id="main-img1">
      <div class="thema">とてつもなくすごい理念</div>
      </div>
      <div class="mi" id="main-img2">
        <div class="prodact">素晴らしいプロダクト</div>
      </div>
      <div class="mi" id="main-img3">
        <div class="about">壮大な人生</div>
      </div>
      <div class="mi" id="main-img4">
        <div class="contact">想像を絶する場所</div>
      </div>
    </div>
  </div>
</div>

<footer>~web_v5~</footer>