<header class="header-bar">
  <div class="title">##</div>
  <div class="sign-up-btn">新規登録</div>
  <div class="login-btn">ログイン</div>
  <ul class="contents">
    <li class="content">##</li>
    <li class="content">##</li>
    <li class="content">##</li>
    <li class="content">##</li>
  </ul>
</header>
<div class="main">##</div>
<footer>~web_5~</footer>