<header class="header-bar">
  <div class="title">
    <div class="title-name">web_v5</div>
  </div>
  <div class="sign-up-btn">
    <div class="sign-up-word">新規登録</div>
  </div>
  <div class="login-btn">
    <div class="login-word"> ログイン</div>
  </div>
</header>
<div class="main">
  <div class="side-bar">
    <ul class="contents">
      <li class="content">##</li>
      <li class="content">##</li>
      <li class="content">##</li>
      <li class="content">##</li>
    </ul>
  </div>
  <div class="main-wrapper">
    <img src="##" class="main-img">
  </div>
</div>

<footer>~web_v5~</footer>