<header class="header-bar">
  <div class="title">web_v5</div>
  <div class="sign-up-btn">新規登録</div>
  <div class="login-btn">ログイン</div>
</header>
<div class="main">
  <div class="side-bar">
    <ul class="contents">
      <li class="content">##</li>
      <li class="content">##</li>
      <li class="content">##</li>
      <li class="content">##</li>
    </ul>
  </div>
  <div class="main-wrapper"></div>
</div>

<footer>~web_v5~</footer>