<header class="header-bar">
  <div class="title">
    <div class="title-name">web_v5</div>
  </div>
  <div class="sign-up-btn">
    <div class="sign-up-word">新規登録</div>
  </div>
  <div class="login-btn">
    <div class="login-word"> ログイン</div>
  </div>
</header>
<%# サインアップモーダル %>
<div class="signup-modal-wrapper" id="signup-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times">X</i>
    </div>
    <div id="signup-form">
      <h2>Emailで新規登録</h2>
      <form action="#">
        <input class="form-control" type="text" placeholder="メールアドレス">
        <input class="form-control" type="password" placeholder="パスワード">
        <div id="submit-btn">新規登録</div>
      </form>
    </div>
  </div>
</div>
<%# ログインモーダル %>
<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-modal">
      <i class="fa fa-2x fa-times">X</i>
    </div>
    <div id="login-form">
      <h2>Emailログイン</h2>
      <form action="#">
        <input class="form-control" type="text" placeholder="メールアドレス">
        <input class="form-control" type="password" placeholder="パスワード">
        <div id="submit-btn">ログイン</div>
      </form>
    </div>
  </div>
</div>
<%# メイン %>
<div class="main">
  <div class="side-bar">
    <ul class="contents">
      <li class="content" id="content1">##1</li>
      <li class="content" id="content2">##2</li>
      <li class="content" id="content3">##3</li>
      <li class="content" id="content4">##4</li>
    </ul>
  </div>
  <div class="main-wrapper">
    <div class="container">
      <div class="main-img1">action</div>
    </div>
    <div class="container">
      <div class="main-img2">action</div>
    </div>
    <div class="container">
      <div class="main-img3">action</div>
    </div>
    <div class="container">
      <div class="main-img4">action</div>
    </div>
  </div>
</div>

<footer>~web_v5~</footer>