* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 10px 0;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-bar {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: aqua;
}

.header-bar .title {
  width: calc(100% / 3);
  height: 100%;
  background-color: bisque;
}

.header-bar .sign-up-btn {
  width: calc(100% / 3);
  height: 100%;
  background-color: brown;
}

.header-bar .login-btn {
  width: calc(100% / 3);
  height: 100%;
  background-color: burlywood;
}

.main {
  width: 100vw;
  height: 85vh;
  display: flex;
  background-color: darkcyan;
}

.main .side-bar {
  width: 20%;
  height: 100%;
  background-color: aquamarine;
}

.main .side-bar .contents {
  width: 100%;
  height: 100%;
  background-color: cornsilk;
}

.main .side-bar .contents .content {
  width: 100%;
  height: calc(100% / 4);
  background-color: crimson;
}

.main .main-wrapper {
  width: 80%;
  height: 100%;
  background-color: azure;
}

footer {
  height: 5vh;
  background-color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}
